<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaoc.feature_fluid_music">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application>
        <!--  音乐播放Service  -->
        <service android:name=".service.FluidMusicService"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaLibraryService"/>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <activity
            android:exported="false"
            android:name=".service.ui.FluidMusicMainActivity"/>
    </application>
</manifest>