<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zjl.finalarchitecture">

    <application
        android:name=".FinalArchitectureApplication"
        tools:ignore="Instantiatable"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/FinalArchitecture.Default">

        <activity
            android:name=".module.splash.ui.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".module.main.ui.activity.MainActivity"
            android:exported="true"/>


    </application>

</manifest>